.content{padding: 30px 0px;margin: 0px;
display: table;}
.content:hover{
	background: #C64350;color: #fff;
}
.content:hover a:link,.content:hover a:visited{
	color: #F6CF74; 
	text-shadow: 1px 1px 1px #333;
}
.content article{
	float: right;width: 580px;
}
.content footer{
	float: left;width: 160px;
}
.content-title{
	font-size: 1.42em;
	line-height: 0.4;
	margin-bottom: 8px;
}
.content-title a:link ,.content-title a:visited{
	text-decoration: none;
}
.content p{
	text-align: justify;
	margin-right: 10px;
}
.borderB{
	border-bottom: 1px solid #eee;
}
.borderBB{
	border-bottom: 0px solid #eee;
}

