body {
	margin: 20px auto;
	width:500px;
	color: #000000;
	padding: 25px;
	border: 1px solid #808080;
	border-radius: 5px;
}
hgroup *{margin:5px;}
footer p{
	text-align: center;
	font-size: 0.9em;
	color: #888;
	margin: 30px 0px 0px;
}
form {
  width:0px;
  margin: 0px;
  padding:20px 50px;
  background-color: #f1afaf;
  border-radius: 10px;
}
label{
	display:block;
	text-align:right;}
input:focus{
	background-color:#B8FF70; 
}
